body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


.navbar-container {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    background-color: rgba(52, 81, 155, 0.93);
}

.navbar-container img {
    width: 6rem;
}

.navbar-container ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5rem;
    font-size: 24px;
    color: white;

    margin: 0;
    padding: 0;
}

.navbar-container li:hover {
    background-color: rgba(45, 81, 173, 0.93);
    border-radius: 20px;
    transition: background-color 0.2s ease-in-out;
}

.how-to-play {
    text-decoration: underline;
    color: white;

    font-size: 20px;
}

/*  */


.home-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('https://img.freepik.com/vector-gratis/fondo-dia-mundial-animales-dibujado-mano-animales_23-2149625083.jpg?w=2000');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home-container a {
    font-size: 2rem;
    color: white;


}

.home-options {
    display: flex;
    gap: 2rem;
    color: whitesmoke;
    font-size: 24px;
}

.home-options h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 2rem;
}


.home-options-card-learn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    border-radius: 20px;
    background-color: #00A106;
}

.home-options-card-rules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    border-radius: 20px;
    background-color: rgb(48, 104, 173);
}

.home-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 12rem;
}

.signin-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16rem;
    height: 6rem;
    border-radius: 15px;
    background-color: rgb(241, 138, 138);
    border: solid 1px rgb(235, 92, 92);
    transition: all 0.3s ease-in-out;
}

.signin-button:hover {
    background-color: rgb(235, 92, 92);
    animation: shake 0.5s ease-in-out;
}

.register-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16rem;
    height: 6rem;
    border-radius: 15px;
    background-color: rgb(21, 103, 157);
    border: solid 1px rgb(98, 172, 245);
    transition: all 0.3s ease-in-out;
}

.register-button:hover {
    background-color: rgb(98, 172, 245);
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-10deg);
    }
}


/*  */


.login-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 1306px;
    height: 788px;
    border-radius: 15px;
    border: solid 3px;
    background-image: url('./assets/login-back.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.login-inputs {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.login-inputs input {
    border: none;
    /* Elimina todos los bordes */
    padding-left: 24px;
    font-size: 32px;
    width: 400px;
    border-bottom: 1px solid rgb(212, 212, 212);
    /* Agrega un borde inferior de 1px de grosor en color negro */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.login-inputs input:focus {
    border-radius: 20px;
}

.login-container button {
    width: 40rem;
    height: 4rem;
    border-radius: 20px;
    background-color: rgba(52, 81, 155, 0.93);
    font-size: 50px;
    border: none;
    color: white;
    transition: all .1s ease-in;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.login-container button:hover {
    background-color: rgba(31, 65, 152, 0.93);
}

.login-container a {
    margin-top: 1rem;
    color: black;
    text-align: center;
    font-size: 18px;
}

.login-container h1 {
    font-size: 50px;
    ;
}

/*  */


.categorie-body-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: aliceblue;
    justify-content: space-between;
    /* Alinea las tarjetas horizontalmente */
}

.categorie-card {
    width: calc(33.33% - 2rem);
    /* Aproximadamente un tercio del ancho con espacio para el margen */
    display: flex;
    align-items: center;
    height: 10rem;
    justify-content: space-around;
    margin: 1rem;
    box-sizing: border-box;
    /* Incluye el padding y el borde en el ancho */
    box-shadow: black;
    color: black;
    border-radius: 15px;
    transition: all .2s ease-in-out;
}



.categorie-card:hover {
    scale: 1.02;
    box-shadow: 1px 1px 2px black;
}

.categorie-card:hover img {
    scale: 1.02;
    box-shadow: 1px 1px 2px black;
    animation: rotacion .2s linear;
}


@keyframes rotacion {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.categorie-card img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

.carousel-indicators {
    display: none;
}